<style>
    .landing-page .content_wrap {
        float: right;
        width: 75%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .landing-page .text-block.box-content {
        padding-top: 0;
        padding-right: 28px;
        padding-left: 28px;
        margin: 0 0 45px;
        padding-bottom: 60px;
    }

    .landing-page .box-title {
        text-align: center;
        margin: 0 0 25px;
    }

    .landing-page .text-block .box-title h2 {
        color: #FFF;
        background-color: #462556;
        font-size: 18px;
        text-shadow: 1px 1px #4e4744;
        font-weight: bold;
        line-height: 20px;
        margin: 0 -28px 0 -28px;
        padding: 11px 28px 15px;
        text-align: left;
        position: relative;
    }

        .landing-page .text-block .box-title h2:before {
            position: absolute;
            display: block;
            border-color: transparent;
            border-style: solid;
            bottom: -12px;
            left: 42px;
            border-top-color: #462556;
            content: " ";
            border-width: 6px;
            box-sizing: border-box;
            z-index: 2;
        }

    p {
        margin: 0 0 10px;
    }
</style>

<div class="landing-page">
    <div class="content_wrap">
        <div class=" box-content text-block">
            <div class="box-title"><h2>Star Power - Amitabh</h2></div><p>
                HTML website templates are pre-made layouts for websites based on HTML5 and CSS3 code combined with JavaScript, Bootstrap and other frameworks. A typical HTML template download package offers a number of website pages, stylesheets and JavaScript files made with valid and well-commented code. Provided PSD files allow modifying the appearance of a template, while the content can be inserted using a code editor.
            </p>
            <p>Template Monster harbors the richest ever web site templates collection – pre-made web designs created by web development industry experts. Not only we offer you the variety of design styles and topics, we also guarantee the high quality of our products through our established quality assurance procedures. Which is more, our web site templates come with 24/7 support, are easily customizable and can fit virtually any online project.</p>
            <p>Template Monster’s web page templates are designed and developed according to all the contemporary web standards by professional web designers. Use our handy search form to find the web site template that fits you project best of all.</p>
            <p>Do you want to try the product before purchasing? <a href="https://www.templatemonster.com/free-templates.php#sample_251">Free Responsive Website Template</a> is your chance to download and manage installing and customizing this type of templates for free.</p>
        </div>
    </div>
    <div class="content_wrap">
        <div class=" box-content text-block">
            <div class="box-title"><h2>Star Power - Shahrukh</h2></div><p>
                HTML website templates are pre-made layouts for websites based on HTML5 and CSS3 code combined with JavaScript, Bootstrap and other frameworks. A typical HTML template download package offers a number of website pages, stylesheets and JavaScript files made with valid and well-commented code. Provided PSD files allow modifying the appearance of a template, while the content can be inserted using a code editor.
            </p>
            <p>Template Monster harbors the richest ever web site templates collection – pre-made web designs created by web development industry experts. Not only we offer you the variety of design styles and topics, we also guarantee the high quality of our products through our established quality assurance procedures. Which is more, our web site templates come with 24/7 support, are easily customizable and can fit virtually any online project.</p>
            <p>Template Monster’s web page templates are designed and developed according to all the contemporary web standards by professional web designers. Use our handy search form to find the web site template that fits you project best of all.</p>
            <p>Do you want to try the product before purchasing? <a href="https://www.templatemonster.com/free-templates.php#sample_251">Free Responsive Website Template</a> is your chance to download and manage installing and customizing this type of templates for free.</p>
        </div>
    </div>
    <div class="content_wrap">
        <div class=" box-content text-block">
            <div class="box-title"><h2>Star Power - Aamir</h2></div><p>
                HTML website templates are pre-made layouts for websites based on HTML5 and CSS3 code combined with JavaScript, Bootstrap and other frameworks. A typical HTML template download package offers a number of website pages, stylesheets and JavaScript files made with valid and well-commented code. Provided PSD files allow modifying the appearance of a template, while the content can be inserted using a code editor.
            </p>
            <p>Template Monster harbors the richest ever web site templates collection – pre-made web designs created by web development industry experts. Not only we offer you the variety of design styles and topics, we also guarantee the high quality of our products through our established quality assurance procedures. Which is more, our web site templates come with 24/7 support, are easily customizable and can fit virtually any online project.</p>
            <p>Template Monster’s web page templates are designed and developed according to all the contemporary web standards by professional web designers. Use our handy search form to find the web site template that fits you project best of all.</p>
            <p>Do you want to try the product before purchasing? <a href="https://www.templatemonster.com/free-templates.php#sample_251">Free Responsive Website Template</a> is your chance to download and manage installing and customizing this type of templates for free.</p>
        </div>
    </div>
</div>