<div class="main-navigation">
    <button type="button" class="menu-toggle" (click)="displayMenu()"><i class="fa fa-bars"></i></button>
    <ul #menuList class="menu" [ngStyle]="{'display': clicked? 'block':'none'}">
    <li *ngFor="let menu of menus;" [ngClass]="menu.CSS" (click)="currentItem(menu)"><a [routerLink]="menu.URL">{{menu.Text}}</a> </li>
    </ul> <!-- .menu -->

    <form action="#" class="search-form">
        <input type="text" placeholder="Search...">
        <button><i class="fa fa-search"></i></button>
    </form>
</div> <!-- .main-navigation -->