
<div *ngIf="flp">
    <div class="row">
        <div class="col-lg-12">
            <div class="well form-horizontal" id="contact_form">
                <div>
                    <span>Box Office : {{flp.MovieName}}</span>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Movie</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                            <input name="Movie" [(ngModel)]="flp.MovieName" placeholder="Movie Name" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">ImageUrl</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                            <input name="ImageUrl" placeholder="Image Url" [(ngModel)]="flp.Image" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Movie ID</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                            <input name="MovieId" placeholder="Movie Id" [(ngModel)]="flp.MovieId" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Type</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                            <input name="Type" placeholder="Type" [(ngModel)]="flp.Type" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Select Basic -->

                <div class="form-group">
                    <label class="col-md-4 control-label">Sequence</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                            <input name="Sequence" placeholder="Sequence" class="form-control" [(ngModel)]="flp.Sequence" type="text">
                        </div>
                    </div>
                </div>

               
               <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Genre</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                            <input name="Genre" placeholder="Genre" [(ngModel)]="flp.Genre" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Genre ID</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                            <input name="GenreId" placeholder="GenreId" [(ngModel)]="flp.GenreId" class="form-control" type="text">
                        </div>
                    </div>
                </div>

               
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Is Active</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input name="IsActive" placeholder="Is Active" [(ngModel)]="flp.IsActive" class="form-control" type="checkbox">
                        </div>
                    </div>
                </div>

                <!-- radio checks -->
                <!-- Text area -->

                <div class="form-group">
                    <label class="col-md-4 control-label">Project Description</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                            <textarea class="form-control" name="comment" placeholder="Project Description"></textarea>
                        </div>
                    </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning" (click)="AddUpdateFLP()">{{mainButtonTitle}} <span class="glyphicon glyphicon-upload"></span></button>
                    </div>


                </div>
                <!-- Success message -->
                <div *ngIf="transactionSucces" class="alert alert-success" role="alert" id="success_message"><i class="glyphicon glyphicon-thumbs-up"></i> FLP added/ updated successfully.</div>
                <div *ngIf="transactionFailed" class="alert alert-danger" role="alert" id="success_message"><i class="glyphicon glyphicon-thumbs-down"></i> FLP not added/ updated successfully.</div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-12">
                <button type="submit" class="btn btn-warning" (click)="clearData()" *ngIf="mainButtonTitle == 'Update'">{{addNewButton}} <span class="glyphicon glyphicon-plus-sign"></span></button>
                <button type="submit" class="btn btn-warning" (click)="clearData()">{{clearButton}} <span class="glyphicon glyphicon-refresh"></span></button>
                <button type="submit" class="btn btn-warning" (click)="Cancel()">{{cancelButton}} <span class="glyphicon glyphicon-repeat"></span></button>
            </div>
        </div>
    </div>


</div>


